[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/synapse/synapse"]
	path = src/synapse/synapse
	url = https://github.com/zajo/synapse.git
[submodule "src/glfw"]
	path = src/glfw
	url = https://github.com/glfw/glfw.git
[submodule "src/app/emico"]
	path = src/app/emico
	url = https://github.com/codegoose/emico
[submodule "src/freetype"]
	path = src/freetype
	url = https://github.com/aseprite/freetype2.git
